<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Security-Policy" content="default-src * gap://ready blob: data: 'unsafe-inline' 'unsafe-eval';">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/white.css" />
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <section>V1</section>
        <section>V2</section>
      </section>
      <section data-transition="zoom" data-transition-speed="slow">Slide 2</section>
      <section>
        <p class="fragment grow">grow</p>
        <p class="fragment shrink">shrink</p>
        <p class="fragment fade-out">fade-out</p>
        <p class="fragment fade-up">fade-up (also down, left and right!)</p>
        <p class="fragment current-visible">visible only once</p>
        <p class="fragment highlight-current-blue">blue only once</p>
        <p class="fragment highlight-red">highlight-red</p>
        <p class="fragment highlight-green">highlight-green</p>
        <p class="fragment highlight-blue">highlight-blue</p>
      </section>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/js/reveal.js"></script>
  <script>
    Reveal.initialize({
      slideNumber: 'c/t',
      embedded: true,
    });
  </script>
</body>

</html>